<!-- About Section -->
    <section id="events" data-bs-spy="scroll">
        <div id="contentSchedules">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="section-heading">Termine</h2>
                    <h3 class="section-subheading text-muted">Spiele, Versammlungen, Feste.</h3>
                </div>
            </div>
            <div id="contentEntryTemplate" class="row justify-content-start" style="display: none;">
                <div id="contentdate" class="contentdate col-1">
                        <h4 id="month"></h4>
                        <h3 id="day"></h3>
                </div>
                <div id="content" class="content col">
                    <div id="contenttitle" class="contenttitle row"></div>
                    <div class="contentaddress row">
                        <div class="contentaddresslabel">Ort: </div>
                        <a class="contentaddresslink" target="_blank" style="display:none;" href=""></a>
                        <div class="contentaddresstext" style="display:none;"></div>
                        <p class="clearfix" />
                    </div>
                </div>
            </div>                    
        </div>
    </section>