<!-- About Section -->
<section id="events">
    <div id="contentSchedules" class="fs-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-heading">Termine</h2>
                <h3 class="section-subheading text-muted">Spiele, Versammlungen, Feste.</h3>
            </div>
        </div>
        <div id="contentView" class="contentView row" view="normalSchedules">
            <button id="normalSchedules" type="button" class="col text-truncate btn btn-link fs-5 fw-bold" onclick="tffTools.showSchedules('normalSchedules')">aktuell</button>
            <button id="allSchedules" type="button" class="col text-truncate btn btn-link fs-5 fw-bold" onclick="tffTools.showSchedules('allSchedules')">alle</button>
            <button id="leagueSchedules" type="button" class="col text-truncate d-none d-sm-block btn btn-link fs-5 fw-bold" onclick="tffTools.showSchedules('leagueSchedules')">liga</button>
            <button id="cupSchedules" type="button" class="col text-truncate d-none d-sm-block btn btn-link fs-5 fw-bold" onclick="tffTools.showSchedules('cupSchedules')">pokal</button>
            <button id="friendlySchedules" type="button" class="col text-truncate d-none d-sm-block btn btn-link fs-5 fw-bold" onclick="tffTools.showSchedules('friendlySchedules')">freundschaft</button>
            <button id="infoSchedules" type="button" class="col text-truncate d-none d-sm-block btn btn-link fs-5 fw-bold" onclick="tffTools.showSchedules('infoSchedules')">infos</button>

        </div>
        <div class="eventsseparator row"></div>
        <div id="noEvents" class="text-center d-none">... keine Termine</div>
        <div id="contentEntryTemplate" class="row justify-content-start d-none">
            <div id="contentdate" class="contentdate col-1">
                <h4 id="month"></h4>
                <h3 id="day"></h3>
            </div>
            <div id="content" class="content col">
                <div id="contenttitle" class="contenttitle row">
                    <div id="contenttitlemain" class="contenttitlemain"></div>
                    <div id="contenttitleaddition" class="contenttitleaddition"></div>
                </div>
                <div class="contentaddress row fs-5">
                    <div class="contentaddresslabel col d-none d-md-block">Ort: </div>
                    <a class="contentaddresslink col-12 d-none" target="_blank" href=""></a>
                    <div class="contentaddresstext col-12 d-none"></div>
                    <p class="clearfix" />
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="status" class="status text-end">loading</div> -->
</section>