<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top navbar-fixed-top" id="navbar-scrolling">
        <div class="container-lg">

            <!-- Brand and toggle get grouped for better mobile display -->
            <img src="/img/vereinswappen_small.png" alt="" width="30" height="30">
            <a class="navbar-brand" href="#">{{site.title}}<a></a>

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item hidden">
                        <a href="#welcome"></a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a class="nav-link" href="#events">Termine</a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a class="nav-link" href="#table">Tabelle</a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a class="nav-link" href="#team">Verein</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header id="header" class="">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To ...</div>
                <div class="intro-heading">TFF Burbach</div>
                <!-- <img src="/img/vereinswappen.png" alt="" width="300" height="300"> -->
                <img src="/img/Vereinswappen_Trikot_weiss_transparent.png" alt="" width="300" height="300">
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

