<!-- jQuery Version -->
    <script src="{{ "/js/jquery-3.6.3.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.bundle.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.bundle.js.map" | prepend: site.baseurl }}"></script>

   <!-- Google tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-JR35RKTZHP"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JR35RKTZHP');
   </script>


    <!-- Plugin JavaScript -->
    <!-- <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script> -->

    <!-- Contact Form JavaScript -->
    <!-- <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script> -->

    <!-- Custom Theme JavaScript -->
    <!-- <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script> -->

   <!-- TFF -->
   <script src="{{ "/js/tffTools.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/js/tffData.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/js/stfvData.js" | prepend: site.baseurl }}"></script>
   
   <script>
      tffData.team1 = { name: '{{ site.data.stfv.verein }}', league: '{{ site.data.stfv.liga }}', year: '{{ site.data.stfv.jahr }}' };
      tffData.termine = [ 
         {% for info in site.data.infos %}
            {datetime: '{{ info.datum }}T{{ info.zeit | default:'00:00' }}' ,datum:'{{ info.datum }}', zeit:'{{ info.zeit }}', typ:'I', titel: '{{ info.titel }}', treff:'{{ info.treff }}', ort:'{{ info.ort }}', ergebnis:'{{ info.ergebnis }}', adresse:'{{ info.adresse }}', adress_url:'{{ info.adress_url }}'},
         {% endfor %}
         {% for spiel in site.data.freundschaftspiele %}
            {datetime: '{{ spiel.datum }}T{{ spiel.zeit | default:'21:00' }}' ,datum:'{{ spiel.datum }}', zeit:'{{ spiel.zeit | default:'21:00' }}', typ:'F', gegner:'{{ spiel.gegner }}', ergebnis:'{{ spiel.ergebnis }}', ort:'{{ spiel.ort }}', adresse:'{{ spiel.adresse }}', adress_url:'{{ spiel.adress_url }}'},
         {% endfor %}
         {% for spiel in site.data.pokalspiele %}
            {datetime: '{{ spiel.datum }}T{{ spiel.zeit | default:'21:00' }}' ,datum:'{{ spiel.datum }}', zeit:'{{ spiel.zeit | default:'21:00' }}', typ:'P', titel: '{{ spiel.titel }}', gegner:'{{ spiel.gegner }}', ergebnis:'{{ spiel.ergebnis }}', ort:'{{ spiel.ort }}', adresse:'{{ spiel.adresse }}', adress_url:'{{ spiel.adress_url }}'},
         {% endfor %}
         {% for spiel in site.data.playoffspiele %}
            {datetime: '{{ spiel.datum }}T{{ spiel.zeit | default:'21:00' }}' ,datum:'{{ spiel.datum }}', zeit:'{{ spiel.zeit | default:'21:00' }}', typ:'O', gegner:'{{ spiel.gegner }}', ergebnis:'{{ spiel.ergebnis }}', ort:'{{ spiel.ort }}', adresse:'{{ spiel.adresse }}', adress_url:'{{ spiel.adress_url }}'},
         {% endfor %}
         {% for spiel in site.data.leistungsligaspiele %}
            {datetime: '{{ spiel.datum }}T{{ spiel.zeit | default:'21:00' }}' ,datum:'{{ spiel.datum }}', zeit:'{{ spiel.zeit | default:'21:00' }}', typ:'B', titel: '{{ spiel.titel }}', gegner:'{{ spiel.gegner }}', ergebnis:'{{ spiel.ergebnis }}', ort:'{{ spiel.ort }}', adresse:'{{ spiel.adresse }}', adress_url:'{{ spiel.adress_url }}'},
         {% endfor %}
      ]

   </script>

   <script>
      jQuery(document).ready(function() {
         //  tffTools.showCountdown(2, 80);
         //  tffTools.showInfos(true);
         tffTools.showTFFData();
      });
   </script>
      