<!-- Statutes -->
<section id="statutes" class="">

    <!-- Modal -->
    <div class="modal fade" id="statutesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Satzung</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div>Die nachstehende Satzung ist für jedermann mit der Maßgabe frei
                            benutzbar, dass keine Gewähr auf Vollständigkeit oder juristische
                            Korrektheit übernommen werden kann.</div>
                        <div>&nbsp;</div>
                    </div>
                    <div>&nbsp;</div>
                    <div>INHALTSVERZEICHNIS</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 1 NAME UND SITZ</div>
                    <div>&nbsp;</div>
                    <div>&sect; 2 ZWECK</div>
                    <div>&nbsp;</div>
                    <div>&sect; 3 MITGLIEDSCHAFT</div>
                    <div>&nbsp;</div>
                    <div>&sect; 4 BEENDIGUNG DER MITGLIEDSCHAFT</div>
                    <div>&nbsp;</div>
                    <div>&sect; 5 MITGLIEDSBEITRÃ„GE</div>
                    <div>&nbsp;</div>
                    <div>&sect; 6 WAHL- UND STIMMRECHT</div>
                    <div>&nbsp;</div>
                    <div>&sect; 7 WIRTSCHAFTSFÃœHRUNG</div>
                    <div>&nbsp;</div>
                    <div>&sect; 8 ORGANE DES VEREINS</div>
                    <div>&nbsp;</div>
                    <div>&sect; 9 VORSTAND</div>
                    <div>&nbsp;</div>
                    <div>&sect; 10 HILFSORGANE</div>
                    <div>&nbsp;</div>
                    <div>&sect; 11 MITGLIEDERVERSAMMLUNG</div>
                    <div>&nbsp;</div>
                    <div>&sect; 12 PROTOKOLLIERUNG VON BESCHLÃœSSEN</div>
                    <div>&nbsp;</div>
                    <div>&sect; 13 AUFLÖSUNG DES VEREINS</div>
                    <div>&nbsp;</div>
                    <div>&sect; 14 AUSTRITT AUS DEM STFV</div>
                    <div>&nbsp;</div>
                    <div>&sect; 15 SCHADENSHAFTUNG</div>
                    <div>&nbsp;</div>
                    <div>&sect; 16 SCHIEDSGERICHT</div>
                    <div>&nbsp;</div>
                    <div>&sect; 17 INKRAFTTRETEN DER SATZUNG</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 1 NAME UND SITZ</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Der Verein führt den Namen &bdquo;TFF Burbach&ldquo; und hat
                        seinen Sitz</div>
                    <div>im &bdquo; Gasthaus Schank, In den Hanfgärten 4, 66115
                        Saarbrücken&ldquo;.</div>
                    <div>&nbsp;</div>
                    <div>2. Der Verein hat sein Vereinslokal im &bdquo;Gasthaus
                        Schank&ldquo;.</div>
                    <div>&nbsp;</div>
                    <div>3. Ein Wechsel des Spiellokals einer Mannschaft kann von den
                        aktiven Spielern der Mannschaft mit 2/3 Mehrheit beschlossen werden.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 2 ZWECK</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Zweck des Vereins ist es, seinen Mitgliedern sachgerechten Sport
                        zu ermöglichen durch:</div>
                    <div>&nbsp;</div>
                    <div>a) Organisation und Durchführung des Tischfußballspieles nach
                        einheitlichen Regeln.&nbsp;</div>
                    <div>b) Wahrung, Förderung und Ãœberwachung der sportlichen Disziplin
                        innerhalb seines Wirkungsbereiches.</div>
                    <div>&nbsp;</div>
                    <div>2. Der Verein ist uneigennützig tätig, er verfolgt nicht in
                        erster Linie eigenwirtschaftliche Zwecke. Mittel des Vereins dürfen nur
                        für die satzungsgemäßen Zwecke verwendet werden. Die Mitglieder
                        erhalten keine Zuwendungen aus Mitteln des Vereins. Es darf keine Person
                        durch Ausgaben, die dem Zweck des Vereins fremd sind, oder durch
                        unverhältnismäßig hohe Vergütungen begünstigt werden.</div>
                    <div>&nbsp;</div>
                    <div>3. Der Verein ist Mitglied des Saarländischen
                        Tischfußballverbandes e.V. mit Sitz in Tholey.</div>
                    <div>&nbsp;</div>
                    <div>4. Der Verein ist bestrebt, den Gemeinschaftsgeist und die
                        Sportkameradschaft durch freiwillige Unterordnung unter die
                        geschriebenen und ungeschriebenen sportlichen Gesetze zu fördern.</div>
                    <div>&nbsp;</div>
                    <div>5. Der Verein vertritt die gemeinschaftlichen Interessen seiner
                        Mitglieder und Anhänger von allgemeiner und grundsätzlicher Bedeutung
                        gegenüber der Öffentlichkeit, allen Behörden, Verbänden und
                        Organisationen.</div>
                    <div>&nbsp;</div>
                    <div>6. Der Verein ist auch um außersportliche Freizeitgestaltung
                        bemüht und versteht sich als Bildungsgemeinschaft für seine
                        Mitglieder.</div>
                    <div>&nbsp;</div>
                    <div>7. Der Verein ist politisch und konfessionell neutral</div>
                    <div>&sect; 3 MITGLIEDSCHAFT</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Der Verein nimmt den zum Mitglied auf, der Ziele und Aufgaben
                        des Vereins mit zu tragen bereit ist. Der Antrag auf Aufnahme ist
                        schriftlich beim Vorstand einzureichen. Bei Minderjährigen ist die
                        Zustimmung des gesetzlichen Vertreters erforderlich. Lehnt der Vorstand
                        den Aufnahmeantrag ab, so hat er auf Antrag des Betroffenen die
                        Mitgliederversammlung einzuberufen. Diese entscheidet endgültig.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;Der Verein unterscheidet in der Mitgliedschaft:</div>
                    <div>a) Aktive Mitglieder, die regelmäßig Sport treiben, d.h. am
                        Spielbetrieb teilnehmen oder aktiv in der Vereinsführung tätig sind.</div>
                    <div>b) Passive Mitglieder die bereit sind, an den Veranstaltungen des
                        Vereins teilzunehmen und die Aufgaben des Vereins zu fördern.</div>
                    <div>c) Ehrenmitglieder und Ehrenvorsitzende, die sich in besonderer
                        Weise um den Verein verdient gemacht haben. Sie werden von der
                        Mitgliederversammlung auf Vorschlag des Vorstandes ernannt.</div>
                    <div>d) Fördernde Mitglieder.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 4 BEENDIGUNG DER MITGLIEDSCHAFT</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Die Mitgliedschaft endet durch Tod, Austritt oder Ausschluss des
                        Mitglieds oder durch Auflösung des Vereins.</div>
                    <div>&nbsp;</div>
                    <div>a) Austritt</div>
                    <div>Der Austritt aus dem Verein ist schriftlich gegenüber dem 1.
                        Vorsitzenden des Vereins zu erklären.&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>Der Austritt ist nur zum Schluß eines Kalendervierteljahres
                        zulässig. Wird ein Austritt zu einem früheren Termin erklärt, so
                        entbindet dies ausdrücklich nicht von der Verpflichtung zur Zahlung des
                        Mitgliedsbeitrages bis zum Ablauf des laufenden Kalendervierteljahres.</div>
                    <div>&nbsp;</div>
                    <div>Als Erklärung des Austritts aus dem Verein ist zu behandeln, wenn
                        ein Mitglied mit seinen Mitgliedsbeiträgen länger als 12 Monate in
                        Zahlungsverzug ist, innerhalb dieser Zeit einmal schriftlich gemahnt
                        wurde und auch auf eine zweite schriftliche Mahnung die rückständigen
                        Mitgliedsbeiträge nicht binnen 14 Tagen bezahlt.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>b) Ausschluss</div>
                    <div>Ein Mitglied kann nur aus dem Verein ausgeschlossen werden, wenn es
                        gegen die Satzung oder erheblich gegen die Grundsätze oder Ordnungen
                        des Vereins verstößt, oder</div>
                    <div>&nbsp;</div>
                    <div>schwer gegen die Interessen des Vereins verstößt, insbesondere
                        die Beschlüsse der Mitgliederversammlung nicht beachtet, oder</div>
                    <div>&nbsp;</div>
                    <div>sich grob unsportlich verhält.</div>
                    <div>&nbsp;</div>
                    <div>Ãœber den Ausschluß entscheidet die Mitgliederversammlung mit
                        einer Mehrheit von drei Vierteln der anwesenden Mitglieder nach
                        vorheriger Anhörung des auszuschließenden Mitglieds.</div>
                    <div>&nbsp;</div>
                    <div>Der Beschluß ist innerhalb von 14 Tagen dem Betroffenen unter
                        Angabe der Gründe mit Einschreibebrief zuzustellen.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>c) Löst sich der Verein auf, so endet automatisch die
                        Mitgliedschaft.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 5 MITGLIEDSBEITRÃ„GE</div>
                    <div>&nbsp;</div>
                    <div>1. Von den Mitgliedern werden Beiträge erhoben.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>a) Die Beiträge und alle hiermit verbundenen Modalitäten werden
                        durch Beschluß der Mitgliederversammlung festgesetzt. Diese ist auch
                        berechtigt, die Erhebung außerordentliche Beiträge festzusetzen.</div>
                    <div>b) Ehrenmitglieder, Ehrenvorsitzende und fördernde Mitglieder
                        i.S.d. &sect; 3 Abs. 2 d) dieser Satzung sind von der Entrichtung der
                        Beiträge befreit.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>2. Die Rechte des Mitgliedes ruhen, wenn es länger als 6 Monate
                        mit seinen Beitragszahlungen schuldhaft in Verzug ist.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 6 WAHL- UND STIMMRECHT</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Wahl- und stimmberechtigt in der Mitgliederversammlung ist jedes
                        Mitglied i.S.d. &sect; 3 dieser Satzung.</div>
                    <div>&nbsp;</div>
                    <div>2. Wählbar ist jedes Vereinsmitglied nach vollendetem 18.
                        Lebensjahr.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 7 WIRTSCHAFTSFÃœHRUNG</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Für jedes Geschäftsjahr ist eine Jahresabrechnung durch den
                        Vorstand aufzustellen. Geschäftsjahr ist grundsätzlich das
                        Kalenderjahr. Durch Terminsetzung der Mitgliederversammlung ist die
                        Jahresabrechnung auf den Zeitraum zwischen zwei Mitgliederversammlungen
                        zulässig.</div>
                    <div>&nbsp;</div>
                    <div>2. Der Kassenwart ist dem Vorstand und der Mitgliederversammlung
                        für die ordnungsgemäße Führung der Kasse des Vereins verantwortlich.
                    </div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 8 ORGANE DES VEREINS</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Organe des Vereins sind der Vorstand und die
                        Mitgliederversammlung.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 9 VORSTAND</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Der Vorstand des Vereins besteht aus:dem 1. Vorsitzendendem 2.
                        Vorsitzendendem 1. Spielführer I Mannschaftdem 2. Spielführer I
                        Mannschaftdem 1. Spielführer II Mannschaftdem 2. Spielführer II
                        Mannschaftdem Schriftführerdem Kassiererdem Alterspräsident</div>
                    <div>2. Die Mitglieder des Vorstandes werden, mit Ausnahme der
                        Spielführer, welche auf die Dauer von 1 Jahr gewählt werden, von der
                        Mitgliederversammlung auf die Dauer von 2 Jahren, vom Tag der Wahl an
                        gerechnet, gewählt. Der Vorstand bleibt jedoch auch nach Ablauf seiner
                        Amtszeit bis zur Neuwahl des neuen Vorstandes im Amt. Die Wiederwahl ist
                        zulässig.</div>
                    <div>&nbsp;</div>
                    <div>3. Der Vorsitzende und der stellvertretende Vorsitzende sind
                        Vorstand im Sinne des &sect; 26 BGB. Jeder von ihnen ist ohne den
                        anderen berechtigt, den Vorstand zu vertreten. Für das Innenverhältnis
                        wird bestimmt, daß der stellvertretende Vorsitzende nur
                        vertretungsberechtigt ist, wenn der Vorsitzende verhindert ist.</div>
                    <div>&nbsp;</div>
                    <div>4. Der Vorstand tritt zusammen, wenn es das Vereinsinteresse
                        erfordert oder drei Vorstandsmitglieder es beantragen. Die
                        Vorstandssitzung ist vom Vorsitzenden oder vom stellvertretenden
                        Vorsitzenden schriftlich, persönlich oder fernmündlich einzuberufen.</div>
                    <div>&nbsp;</div>
                    <div>5. Der Vorstand beschließt, soweit diese Satzung nichts anderes
                        vorsieht, mit einfacher Mehrheit und ist beschlußfähig bei Anwesenheit
                        von mindestens 4 Vorstandsmitgliedern. Bei Stimmengleichheit entscheidet
                        die Stimme des 1. Vorsitzenden.</div>
                    <div>&nbsp;</div>
                    <div>6. Bei Ausscheiden eines Vorstandsmitgliedes vor Ablauf der
                        Amtsperiode wird eine Neuwahl für den Rest der Amtsperiode in der
                        nächsten Mitgliederversammlung vorgenommen. Der Vorstand ist jedoch
                        berechtigt, bis zur Neuwahl ein Mitglied kommissarisch zu berufen.</div>
                    <div>&nbsp;</div>
                    <div>7. Außer den in dieser Satzung ausdrücklich genannten gehören
                        die folgenden Aufgaben in die Verantwortung des Vorstandes:die
                        Durchführung der Beschlüsse der Mitgliederversammlung und die
                        Behandlungen von Anregungen der Mitglieder.die Bewilligung von Ausgaben;
                        sofern dies nicht anders geregelt ist.die Planung, Organisation und
                        Durchführung aller Vereinsaktivitäten.</div>
                    <div>8. Alle Vorstandsmitglieder sind verpflichtet und mitverantwortlich
                        für die Verwirklichung der Ziele und Aufgaben des Vereins. Die Aufgaben
                        des Vorstandes werden durch seine Mitglieder grundsätzlich ehrenamtlich
                        erledigt.</div>
                    <div>&nbsp;</div>
                    <div>9. Die Aufgaben der Vorstandsmitglieder sind im einzelnen:</div>
                    <div>a) Der Vorsitzende ist für die Führung des Vereins
                        verantwortlich. Er vertritt den Verein nach innen und außen, beruft und
                        leitet die Sitzungen und Versammlungen.</div>
                    <div>b) Der stellvertretende Vorsitzende unterstützt den Vorsitzenden
                        bei der Erfüllung seiner Aufgaben und vertritt ihn im
                        Verhinderungsfall.</div>
                    <div>c) Dem Spielführer obliegt die Erstellung der
                        Mannschaftsaufstellung zu den jeweiligen Verbands- u.
                        Freundschaftsspielen. Er gibt Anweisungen zum organisatorischen Ablauf
                        und zur Taktik dieser Spiele und führt insbesondere die unerfahreneren
                        Spieler durch seine Vorbildfunktion zu einem erfolgreichen Spiel. Der
                        Spielführer ist für die formgerechte Erstellung der Spielberichte
                        deren Weiterleitung an den Klassenleiter und Archivierung der
                        Abschriften verantwortlich.</div>
                    <div>d) Der stellvertretende Spielführer unterstützt den Spielführer
                        bei der Erfüllung seiner Aufgaben und vertritt ihn im
                        Verhinderungsfall.</div>
                    <div>e) Der Schriftführer führt den Schriftwechsel des Vereins,
                        fertigt die Protokolle und Einladungen und führt die Mitgliederliste
                        des Vereinsarchivs.</div>
                    <div>f) Der Kassierer verwaltet die Kasse und stellt den Jahresabschluß
                        auf. Die Kasse wird von den gewählten Kassenprüfern unter Vorlage der
                        Bücher und Belege geprüft.</div>
                    <div>&sect; 10 HILFSORGANE</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Als Hilfsorgane ohne Vorstandszugehörigkeit werden von der
                        Mitgliederversammlung gewählt:</div>
                    <div>&nbsp;</div>
                    <div>a) 2 Spielwarte</div>
                    <div>Die Spielwarte sind für den ordnungsgemäßen Zustand und die
                        regelmäßige Wartung der Spielgeräte verantwortlich.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>b) 2 Kassenprüfer</div>
                    <div>Die Kassenprüfer haben sich vor Ablauf der Rechnungsperiode mit
                        dem Kassierer über einen Prüfungstermin zu einigen. Sie erstatten der
                        Mitgliederversammlung einen Prüfungsbericht und beantragen bei
                        ordnungsgemäßer Führung die Entlastung des Kassierers.</div>
                    <div>&nbsp;</div>
                    <div>Die Kassenprüfer werden grundsätzlich für die Dauer von zwei
                        Jahren gewählt. Es ist jedoch durch den Turnus der Wahl
                        sicherzustellen, daß nicht die selben Kassenprüfer, zwei
                        aufeinanderfolgende Jahre prüfen.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 11 MITGLIEDERVERSAMMLUNG</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Oberstes Organ des Vereins ist die Mitgliederversammlung.</div>
                    <div>&nbsp;</div>
                    <div>2. Mindestens einmal im Jahr, möglichst nach Beendigung der
                        laufenden Verbandssaison, findet eine ordentliche Mitgliederversammlung
                        statt.</div>
                    <div>&nbsp;</div>
                    <div>3. Eine außerordentliche Mitgliederversammlung ist einzuberufen,
                        wenn esder Vorstand beschließt oderwenn es 1/3 der Mitglieder
                        schriftlich (Unterschriftenliste) unter Angabe von Gründen beim
                        Vorsitzenden beantragen.</div>
                    <div>4. Die Einberufung der Mitgliederversammlung geschieht durch den
                        Vorstand mit einer Frist von 10 Tagen schriftlich unter Bekanntgabe der
                        Tagesordnung.</div>
                    <div>&nbsp;</div>
                    <div>5. Anträge auf Ã„nderung der Satzung müssen schriftlich mit
                        Begründung, spätestens 3 Tage vor dem Tagungstermin, beim Vorsitzenden
                        eingereicht werden.</div>
                    <div>&nbsp;</div>
                    <div>6. Antragsberechtigt sind die Mitglieder und der Vorstand.</div>
                    <div>&nbsp;</div>
                    <div>7. Die Mitgliederversammlung ist, soweit diese Satzung nichts
                        anderes besagt, ohne Rücksicht auf die Zahl der erschienenen Mitglieder
                        beschlußfähig.</div>
                    <div>&nbsp;</div>
                    <div>8. Die Mitgliederversammlung beschließt über alle den Verein
                        berührenden Angelegenheiten von grundsätzlicher Bedeutung. Sie ist
                        berechtigt Beschlüsse des Vorstandes zu überprüfen und aufzuheben.</div>
                    <div>&nbsp;</div>
                    <div>9. Sie beschließt über die Satzung, Beiträge,
                        Wirtschaftsführung und Ehrenordnung des Vereins. Sie nimmt den
                        jährlichen Tätigkeitsbericht und die Jahresrechnung des Vorstandes
                        entgegen und faßt über ihn Beschluß. Sie beschließt über die
                        Entlastung des Vorstandes. Die Mitgliederversammlung tätigt die Wahlen.
                        Sie kann die Bestellung des Vorstandes oder einzelner Mitglieder des
                        Vorstandes widerrufen, wenn ein wichtiger Grund vorliegt. Ein solcher
                        Grund ist insbesondere grobe Pflichtverletzung oder Unfähigkeit.</div>
                    <div>&nbsp;</div>
                    <div>10. Beschlüsse der Mitgliederversammlung werden, soweit diese
                        Satzung nichts anderes bestimmt, mit einfacher Stimmenmehrheit gefaßt.
                        Stimmenthaltungen werden nicht mitgezählt. Stimmengleichheit bedeutet
                        grundsätzlich Ablehnung.</div>
                    <div>&nbsp;</div>
                    <div>11. Der 1. Vorsitzende und der 2. Vorsitzende werden in je einem
                        besonderen Wahlgang mit absoluter, die anderen Vorstandsmitglieder
                        gegebenenfalls gemeinsam mit einfacher Stimmenmehrheit gewählt.</div>
                    <div>Wenn bei der Wahl des 1. Vorsitzenden oder 2. Vorsitzenden die
                        absolute Stimmenmehrheit nicht auf eine Person entfällt, findet eine
                        Stichwahl unter den beiden Personen statt, die im 1. Wahlgang die
                        meisten Stimmen erhalten. Die Wahl des 1. Vorsitzenden findet unter der
                        Leitung eines von der Versammlung gewählten Versammlungsleiters statt.
                        Die Wahl der übrigen Vorstandsmitglieder leitet der 1. Vorsitzende.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>12. Die Mitgliederversammlung kann Ã„nderungen der Satzung nur mit
                        einer Stimmenmehrheit von &frac34; der anwesenden Stimmen beschließen.
                    </div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 12 PROTOKOLLIERUNG VON BESCHLÃœSSEN</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Ãœber die Beschlüsse der Mitgliederversammlung und des
                        Vorstandes ist jeweils ein Protokoll anzufertigen, das vom
                        Versammlungsleiter und vom Schriftführer zu unterzeichnen ist.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 13 AUFLÖSUNG DES VEREINS</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Die Auflösung kann nur in einer außerordentlichen
                        Mitgliederversammlung beschlossen werden. Auf der Tagesordnung dieser
                        Versammlung darf nur der Punkt &bdquo;Auflösung des Vereins&ldquo;
                        stehen.</div>
                    <div>&nbsp;</div>
                    <div>2. Die Einberufung einer solchen Mitgliederversammlung darf nur
                        erfolgen wenn esder Vorstand mit einer Mehrheit von &frac34; aller
                        seiner Mitglieder beschlossen hat odermindestens 1/3 der
                        stimmberechtigten Mitglieder die Auflösung schriftlich beim
                        Vorsitzenden gefordert haben.</div>
                    <div>3. Der Beschluß auf Auflösung kann nur mit einer Mehrheit von
                        &frac34; der Stimmberechtigten gefaßt werden. Sind in der 1.
                        Mitgliederversammlung nicht mindestens &frac34; aller Stimmberechtigten
                        erschienen, so ist binnen 4 Wochen eine 2. Mitgliederversammlung
                        einzuberufen, in welcher der Auflösungsbeschluß mit einer Mehrheit von
                        &frac34; der anwesenden Stimmberechtigten gefaßt werden kann.</div>
                    <div>&nbsp;</div>
                    <div>4. Im Falle der Auflösung des Vereins sind die Mitglieder
                        verpflichtet, die ordentlichen Beiträge für das laufende Vierteljahr
                        sowie die bereits umgelegten außerordentlichen Beiträge an die mit der
                        Abwicklung der Geschäfte des Vereins Beauftragten zu zahlen.</div>
                    <div>&nbsp;</div>
                    <div>5. Bei Auflösung des Vereins oder bei Wegfall des
                        steuerbegünstigten Zwecks fällt das Vermögen des Vereins an
                        &bdquo;Jörg Ruppenthal&ldquo;, der/die es unmittelbar und
                        ausschließlich für gemeinnützige Zwecke im Sinne dieser Satzung zu
                        verwenden hat.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 14 AUSTRITT AUS DEM STFV</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Der Austritt aus dem STFV kann nur in einer außerordentlichen
                        Mitgliederversammlung beschlossen werden. Auf der Tagesordnung dieser
                        Versammlung darf nur der Punkt &bdquo;Austritt des Vereins aus dem
                        STFV&ldquo; stehen.</div>
                    <div>&nbsp;</div>
                    <div>2. Die Einberufung einer solchen Mitgliederversammlung darf nur
                        erfolgen wenn esder Vorstand mit einer Mehrheit von &frac34; aller
                        seiner Mitglieder beschlossen hat odermindestens 1/3 der
                        stimmberechtigten Mitglieder die Auflösung schriftlich beim
                        Vorsitzenden gefordert haben.</div>
                    <div>3. Der Beschluß auf Austritt kann nur mit einer Mehrheit von
                        &frac34; der Stimmberechtigten gefaßt werden. Sind in der 1.
                        Mitgliederversammlung nicht mindestens &frac34; aller Stimmberechtigten
                        erschienen, so ist binnen 4 Wochen eine zweite Mitgliederversammlung
                        einzuberufen, in welcher der Auflösungsbeschluß mit einer Mehrheit von
                        &frac34; der anwesenden Stimmberechtigten gefaßt werden kann.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 15 SCHADENSHAFTUNG</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Der Verein ist für den Schaden verantwortlich, den der
                        Vorstand, ein Mitglied des Vorstandes oder ein anderer satzungsgemäß
                        berufener Vertreter, durch eine in Ausführung der ihm zustehenden
                        Verrichtung begangene, zum Schadensersatz verpflichtende Handlung, einem
                        Dritten zufügt.</div>
                    <div>&nbsp;</div>
                    <div>&sect; 16 SCHIEDSGERICHT</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Bei Streitigkeiten, welche zwischen den Mitgliedern
                        untereinander oder zwischen den Mitgliedern und dem Verein oder seiner
                        Organe über die Auslegung oder die Gültigkeit der Satzungsschrift oder
                        den Vollzug von Mitgliederversammlungsbeschlüssen entstehen,
                        entscheidet unter Ausschluß des Rechtsweges ein Schiedsgericht, soweit
                        nicht im Gesetz oder in der Satzung etwas anderes bestimmt ist.</div>
                    <div>&nbsp;</div>
                    <div>2. Das Schiedsgericht besteht aus zwei Schiedsrichtern und einem
                        Obmann.</div>
                    <div>Mit der Anzeige einer Partei, daß sie das Schiedsgericht anrufen
                        wolle, ist die Benennung eines Schiedsrichters binnen zwei Wochen zu
                        verbinden. Mehrere untereinander einige Parteien gelten als eine Partei.
                        Kommt die andere Partei dieser Pflicht nicht nach, so ist der Präsident
                        des Saarländischen Tischfußballverbandes zu ersuchen, den zweiten
                        Schiedsrichter zu benennen. Entsprechendes gilt, wenn ein bereits
                        ernannter Schiedsrichter wegfällt.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>3. Die beiden Schiedsrichter bestimmen übereinstimmend den Obmann.
                        Dieser muß die Befähigung zum Richteramt haben. Kommt eine Einigung
                        innerhalb drei Wochen nach Ernennung des zweiten Schiedsrichters nicht
                        zustande, so haben die Schiedsrichter den Landgerichtspräsidenten in
                        Saarbrücken um die Benennung eines geeigneten Obmanns zu ersuchen.</div>
                    <div>&nbsp;</div>
                    <div>4. Für die Ablehnung der Schiedsrichter oder des Obmannes gelten
                        die Vorschriften des &sect; 42 Zivilprozeß über die Ablehnung eines
                        Richters entsprechend.</div>
                    <div>Ein Schiedsrichter oder der Obmann sind insbesondere dann als
                        befangen anzusehen, wenn sie zu einer der Parteien in einem ständigen
                        Geschäftsverhältnis stehen.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>5. Das Schiedsgericht entscheidet unter dem Vorsitz des Obmannes;
                        die beiden Schiedsrichter sollen ihre Stellungnahme zuerst abgeben.</div>
                    <div>Im übrigen sind für das Verfahren vor dem Schiedsgericht die
                        Vorschriften der &sect;&sect; 1034 ff der Zivilprozeßordnung
                        maßgebend. Das Schiedsgericht entscheidet endgültig; es entscheidet
                        auch über den Streitwert und darüber, wer die Kosten des Verfahrens
                        trägt. Vor Festsetzung des Streitwertes muß den Parteien aber
                        Gelegenheit zur Stellungnahme gegeben werden. Das Schiedsgericht hat
                        nach materiell geltendem Recht zu entscheiden. Es entscheidet mit
                        einfacher Mehrheit; notfalls gilt &sect; 96 GVG.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&sect; 17 INKRAFTTRETEN DER SATZUNG</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>1. Diese Satzung tritt mit dem Tage der Annahme durch die
                        Mitgliederversammlung in Kraft.</div>
                    <div>&nbsp;</div>
                    <div>Die Satzung wurde einstimmig durch die Mitgliederversammlung vom
                        12.05.05 angenommen:&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>Der Vorstand trifft sich zu keinem bestimmten Termin. Es werden nur
                        Vorstandssitzungen einberufen wenn hierfür eine Notwendigkeit
                        besteht.&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>Unsere Jahreshauptversammlung findet normalerweise immer im Januar
                        statt.&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>Anträge können gern auch per Mail bis zu 21 Tage vorher gestellt,
                        satzungsgemäß laden wir 14 Tage vorher ein. Dringende Themen können
                        unter Sonstiges auch innerhalb der Sitzung angesprochen werden. Die
                        Tagesordnung wird rechtzeitig auch hier auf der Vereinsseite
                        veröffentlicht.&nbsp;</div>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
    </div>

</section>