<!-- About Section -->
    <section id="table">
        <div id="contentTable">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="section-heading">Tabelle</h2>
                    <h3 class="section-subheading text-muted">Landesliga Spieltag und Tabelle vom STFV.</h3>
                </div>
            </div>
            <div id="status" class="status text-center"><i>loading</i></div>
            <div class="row"></div>
            <div id="currentMatchDayGames" class="row d-none">
                <h3 id="gamesTitle" class="gamesTitle text-center">Spieltag</h3>
                <h5 id="gamesRowHeader" class="row gamesHeader fs-4 fw-bold">
                    <div id="empty" class="col-1 d-none d-md-block"></div>
                    <div id="no" class="col-1 text-center">Nr.</div>
                    <div id="team1" class="col col-md5">Heim</div>
                    <div id="team2" class="col col-md5">Gast</div>
                    <div id="result" class="col-1 text-center">Erg.</div>
                    <div id="empty" class="col-1 d-none d-md-block"></div>
                </h5>
                <div id="gamesRowTemplate" class="row gamesRow fs-4 d-none">
                    <div id="empty" class="col-1 d-none d-md-block"></div>
                    <div id="no" class="col-1 text-center"></div>
                    <div id="team1" class="col col-md5 text-nowrap text-truncate"></div>
                    <div id="team2" class="col col-md5 text-nowrap text-truncate"></div>
                    <div id="result" class="col-1 text-center"></div>
                    <div id="empty" class="col-1 d-none d-md-block"></div>
                </div>
            </div>
            <div class="tableseparator row"></div>
            <div id="currentMatchDayTable" class="leagueHeader row d-none">
                <h3 id="tableTitle" class="tableTitle text-center">Tabelle</h3>
                <h5 id="tableRowHeader" class="row tableHeader fs-4 fw-bold">
                    <div id="place" class="col-1 text-center">Pl.</div>
                    <div id="team" class="col-5">Verein</div>
                    <div id="goals" class="col text-center d-none d-lg-block">Tore</div>
                    <div id="sets" class="col text-center">Sätze</div>
                    <div id="score" class="col text-center">Punkte</div>
                </h5>
                <div id="tableRowTemplate" class="row tableRow fs-4 d-none">
                    <div id="place" class="col-1 text-center"></div>
                    <div id="team" class="col-5 text-nowrap text-truncate"></div>
                    <div id="goals" class="col text-center d-none d-lg-block"></div>
                    <div id="sets" class="col text-center"></div>
                    <div id="score" class="col text-center"></div>
                </div>
            </div>
            <div class="tableseparator row"></div>
            <div id="nextMatchDayGames" class="row d-none">
                <h3 id="gamesTitle" class="gamesTitle text-center">Spieltag</h3>
                <h5 id="gamesRowHeader" class="row gamesHeader fs-4 fw-bold">
                    <div id="empty" class="col-1 d-none d-md-block"></div>
                    <div id="no" class="col-1 text-center">Nr.</div>
                    <div id="team1" class="col">Heim</div>
                    <div id="team2" class="col">Gast</div>
                    <div id="result" class="col-1 text-center">Erg.</div>
                    <div id="empty" class="col-1 d-none d-md-block"></div>
                </h5>
                <div id="gamesRowTemplate" class="row gamesRow fs-4 d-none">
                    <div id="empty" class="col-1 d-none d-md-block"></div>
                    <div id="no" class="col-1 text-center"></div>
                    <div id="team1" class="col text-nowrap text-truncate"></div>
                    <div id="team2" class="col text-nowrap text-truncate"></div>
                    <div id="result" class="col-1 text-center"></div>
                    <div id="empty" class="col-1 d-none d-md-block"></div>
                </div>
            </div>                    
            <div id="gamesNavivation" class="row fs-3">
                <button id="previousGames" type="button" class="col text-end btn btn-link fs-3 fw-bold" onclick="tffTools.showPreviousGames()"><<</button>
                <div id="tableSTFVLink" class="col-7 text-center">
                    <a class="fs-5" target="_blank" href="https://www.stfv.de/stfv/index.php">... mehr auf STFV</a>
                </div>
                <button id="nextGames" type="button" class="col text-start btn btn-link fs-3 fw-bold" onclick="tffTools.showNextGames()">>></button>
            </div>
        </div>
    </section>