<!-- Team Section -->
<section id="team" class="" data-bs-spy="scroll">
    <div>
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-heading">Verein</h2>
            </div>
        </div>
        <div class="row">
            <p>Die Tischfußballfreunde Burbach bestehen inzwischen seit 2005.
                In dieser Zeit haben die Freunde einige Erfolge gefeiert, aber auch Veränderungen durchlaufen.
                Mal sind wir mit einer, mal mit zwei Mannschaften in die Saison gestartet.
            </p>
            <p>Wenn Du gerne bei uns Mitglied werden möchtest, stellen wir Dir hier alle wesentlichen Informationen zu
                Verfügung:<br>
                -> Monatsbeiträge: Schüler, Studenten, Azubis: 3,- €, Erwachsene: 6,- €.<br>
                -> Die Satzung findest Du hier: <a href="#"
                    onclick="new bootstrap.Modal(document.getElementById('statutesModal')).show()">hier</a><br>
                -> Die Anmeldung nehmen wir in unerem Vereinslokal vor, da wir auch eine Unterschrift brauchen.<br>
            <p>Wir haben jeden Donnerstag Training ab 18:00 Uhr und unsere Spiele tragen wir freitags ab 21:00 Uhr aus.
            </p>
            <p>Vereinslokal: <a target="_blank"
                href="https://www.google.com/maps/place/In%20den%20Hanfg%C3%A4rten%204,66115%20Saarbr%C3%BCcken'">Gasthaus
                Schank</a></p>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="section-subheading text-muted">Vorstandsmitglieder.</h3>
            </div>
        </div>
        <div class="row">
            {% for member in site.data.team %}
            <div class="col-2">
                <div class="team-member">
                    <img src="img/vereinswappen_small.png" class="row img-responsive" alt="">
                    <!-- <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt=""> -->
                    <h5 class="">{{ member.vorname }}<br>{{ member.nachname }}</h5>
                    <p class="text-muted text-center">{{ member.rolle }}</p>
                    <!-- <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul> -->
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted"></p>
            </div>
        </div>
    </div>
</section>