<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top" class="index container-lg" data-bs-theme="dark"> 
    
    {% include header.html %}

    <div tabindex="0" data-bs-spy="scroll" data-bs-smooth-scroll="false" data-bs-target="#navbar-scrolling"  -->
      {% include events.html %}
      {% include table.html %}
      {% include team.html %}
      {% include statutes.html %}
      {% include legalnotice.html %}
    </div>
    
    {% include footer.html %}

    {% include js.html %}

  </body>

</html>